@layer components.defaults {
  .n-svg {
    width: var(--n-comp-svg-size-width, auto);
    height: var(--n-comp-svg-size-height, auto);
    max-width: 100%;
    max-height: 100%;

    color: var(--n-comp-svg-primary-color);

    fill: var(--n-comp-svg-secondary-color);

    overflow: hidden;

    pointer-events: none;
  }
}
